:root {
  --dark: #1B1F23;
  --main: #6DB33F;
  --main2: #444444;
  --main3: #EDEDED;
}
.container{
  margin: auto;
  max-width: 500px;
  text-align: center;
}
body{
  background: var(--dark);
  color: var(--main);
}
/*buttons*/
button{
  background-color: var(--main);
  padding: 0.4rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s background-color;
  color: black;
}
button:hover{
  color: white;
  background-color: #4D802D
}
button:active {
  color: white;
  background-color: #2E4D1B;
}
/*top*/
.schedulePageContainer{
  margin: 3rem;
}
.logo{
  margin: 0;
  font-size: 5rem;
}
.logout{
  align-self: center;
  cursor: pointer;
}
.clock, nav{
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}
/*table*/
.table{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.row{
  display: flex;
  gap: 1rem;
  height: 250px;
  width: 100%;
}
.item:first-child{
  background-color: #3c464f !important;
}
.item:nth-child(odd) {
  background-color: #545454;
}
.item:nth-child(even) {
  background-color: #2f2f2f;
}
.item{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  height: 250px;
  width: 250px;
}
.item div{
  width: 175px;
  color: white;
  text-align: center;
}
.bold{
  font-weight: bold;
}
