:root {
  --dark: #1B1F23;
  --main: #6DB33F;
  --main2: #1F2327;
  --main3: #262A2D;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.container{
  margin: auto;
  max-width: 500px;
  text-align: center;
}
body{
  background: var(--dark);
  color: var(--main);
}
/*buttons*/
button{
  border-radius: .25rem;
  background-color: var(--main);
  padding: 0.4rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s background-color;
  color: black;
}
button:hover{
  color: white;
  background-color: #4D802D
}
button:active {
  color: white;
  background-color: #2E4D1B;
}
.btnRed{
  background-color: #b33f3f!important;
}
.btnRed:hover{
  color: white;
  background-color: #802d2d!important;
}
.btnRed:active {
  color: white;
  background-color: #4d1b1b!important;
}
/*top*/
.schedulePageContainer, .userPageContainer,
.decan-container, .admin-container{
  margin: 3rem;
}
.flat-table{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.logo{
  margin: 0;
  font-size: 5rem;
}
.logout{
  align-self: center;
  cursor: pointer;
}
.clock, nav{
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}
/*table*/
.table{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.row{
  display: flex;
  gap: 1rem;
  height: 250px;
  width: 100%;
}
.row.weekday{
  height: 50px;
}
.not-current{
  background-color: #3c464f !important;
}
.item:nth-child(odd), .flat-item:nth-child(odd){
  background-color: var(--main2);
}
.item:nth-child(even),.flat-item:nth-child(even) {
  background-color: var(--main3);
}
.item{
  overflow: hidden;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: .5rem;
  height: 250px;
  width: 250px;
}
.item.weekday{
  height: 50px;
}
.item div{
  width: 175px;
  color: white;
  text-align: center;
}
.flat-item{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  border-radius: .5rem;

}
.flat-item div{
  padding: 1rem
}
.para-date{
  background-color: rgba(0, 0, 0, 0.10)
}
.st-was{
  background-color: var(--main)!important;
}
.st-was div{
  color: var(--main2)!important;
}
.st-was-not{
  background-color: #b33f3f !important;
}
.st-was-not div{
  color: var(--main2)!important;
}
.st-reserved{
  background-color: #4894cc !important;
}
.st-reserved div{
  color: var(--main2)!important;
}
.bold{
  font-weight: bold;
}
.controls{
  position: absolute;
  bottom: 0;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.admin-nav{
  display: flex;
  gap: 10px;
}
.admin-nav a{
  color: var(--main);
  text-decoration: none;
  padding: 1rem;
}
.admin-nav .active{
  font-weight: bold;
  border-bottom: 3px solid;
}
/*switch*/
.switch{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.switch a{
  color: var(--main);
  text-decoration: none;
  padding: 1rem;
  width: 5rem;
}
.switch .active{
  font-weight: bold;
  border-bottom: 3px solid;
}
input{
  margin:.5rem 0;
  padding:.5rem;
  border-radius: .25rem;
  border: 3px solid #595959;
  background-color: var(--main3);
  background-color: var(--main3);
  color: #ffffff;
}
input:focus{
  outline: none !important;
  border: 3px solid var(--main);
}
input::placeholder {
  color: #bdbdbd;
}
.error-msg{
  color: #cc4747;
  margin: 1rem;
}
/*decan*/
.teacher-link{
  display: block;
  color: white;
  text-decoration: none;
}
.teacher-link.active{
  color: var(--main);
  font-weight: bold;
}
.horizontal-container{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.horizontal-container-2{
  display: flex;
  gap: 1rem;
}
.expl{
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  color:  black;
  padding: 2rem;
  max-width: 50rem;
  height: 100%;
}
.text-right{
  text-align: right;
}
.flat-container{
  gap: 1rem;
  align-items: center;
  display: flex;
}
.btn-disabled{
  opacity: .5;
  cursor: default;
}
.btn-disabled:hover, .btn-disabled:active{
  background-color: var(--main);
  background-color: var(--main);
  color: black;
}

textarea{
  font-family: "Times New Roman", Times, serif;
  border-color: gray;
  width: 100%;
  resize: none;
  min-height: 30rem;
  font-size: 1rem;
}
.exl-cont{
  position: relative;
}
.close-expl{
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.current{
  background-color: #4b704d !important;
}
input[type="time"]{
  background-color: transparent;;
  margin: 0;
  height: 1.5rem;
  border-color: var(--dark);
  border-radius: .5rem .5rem 0 0 ;
  border-color: transparent;
}
.show-time-btn, .close-time-btn{
  background-color: transparent;
  color: white;
}
.show-time-btn.black-btn, .close-time-btn.black-btn{
  background-color: transparent;
  color: var(--dark);
}
.show-time-btn:hover {
  background-color: transparent;
  color: var(--main);
}

.close-time-btn:hover{
  background-color: transparent;
  color: #cc4747;
}

.show-time-btn.black-btn:hover,.close-time-btn.black-btn:hover {
  background-color: transparent;
  color: white;
}
.reserve-btn{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4894cc;
}
.reserve-btn:hover{
  color: white;
  background-color: #367496;
}
.reserve-btn:active{
  color: white;
  background-color: #245367;
}
.responsible{
  position: absolute;
  top: 0;
  left: 1rem;
  text-align: left!important;
}
h5{
  margin: 0;
}