:root {
  --dark: #1B1F23;
  --main: #6DB33F;
  --main2: #1F2327;
  --main3: #262A2D;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.container{
  margin: auto;
  max-width: 500px;
  text-align: center;
}
body{
  background: var(--dark);
  color: var(--main);
}
/*buttons*/
button{
  border-radius: .25rem;
  background-color: var(--main);
  padding: 0.4rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s background-color;
  color: black;
}
button:hover{
  color: white;
  background-color: #4D802D
}
button:active {
  color: white;
  background-color: #2E4D1B;
}
.btnRed{
  background-color: #b33f3f;
}
.btnRed:hover{
  color: white;
  background-color: #802d2d
}
.btnRed:active {
  color: white;
  background-color: #4d1b1b;
}
/*top*/
.schedulePageContainer, .userPageContainer, .decan-container{
  margin: 3rem;
}
.flat-table{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logo{
  margin: 0;
  font-size: 5rem;
}
.logout{
  align-self: center;
  cursor: pointer;
}
.clock, nav{
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}
/*table*/
.table{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.row{
  display: flex;
  gap: 1rem;
  height: 250px;
  width: 100%;
}
.item:first-child{
  background-color: #3c464f !important;
}
.item:nth-child(odd), .flat-item:nth-child(odd){
  background-color: var(--main2);
}
.item:nth-child(even),.flat-item:nth-child(even) {
  background-color: var(--main3);
}
.item{
  overflow: hidden;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: .5rem;
  height: 250px;
  width: 250px;
}
.item div{
  width: 175px;
  color: white;
  text-align: center;
}
.flat-item{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  border-radius: .5rem;
  margin-bottom: 1rem;
}
.flat-item div{
  padding: 1rem
}
.para-date{
  background-color: rgba(0, 0, 0, 0.10)
}
.st-was{
  background-color: var(--main)!important;
}
.st-was div{
  color: var(--main2)!important;
}
.st-was-not{
  background-color: #b33f3f !important;
}
.st-was-not div{
  color: var(--main2)!important;
}
.bold{
  font-weight: bold;
}
.controls{
  position: absolute;
  bottom: 0;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}
/*switch*/
.switch{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.switch a{
  color: var(--main);
  text-decoration: none;
  padding: 1rem;
  width: 5rem;
}
.switch .active{
  font-weight: bold;
  border-bottom: 3px solid;
}
input{
  margin:.5rem 0;
  padding:.5rem;
  border-radius: .25rem;
  border: 3px solid #595959;
  background-color: var(--main3);
  color: #ffffff;
}
input:focus{
  outline: none !important;
  border: 3px solid var(--main);
}
input::placeholder {
  color: #bdbdbd;
}
.error-msg{
  color: #cc4747;
  margin: 1rem;
}
/*decan*/
.teacher-link{
  display: block;
  color: white;
  text-decoration: none;
}